<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>A/B Split Test Significance Calculator</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/css/new-age.min.css" rel="stylesheet">
    <link href="/static/css/new-age.css" rel="stylesheet">
<script type="text/javascript">
$( document ).ready(function() {
   $('#result').hide();
});

  function calculate() {
    var ctv = $('#ctv').val();
    var ctc = $('#ctc').val();
    var vtv = $('#vtv').val();
    var vtc = $('#vtc').val();
    if ((ctv < 15) || (ctc < 15) || (vtv < 15)  || (vtc < 15) ) {
      alert('Values should be atleast 15');
     
    } 

    console.log(ctc);
    $.ajax({
        type: "POST",
        url: "/",  // or just url: "/my-url/path/"
        data: {
      dataType: "json", 
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            ctv: ctv,
            ctc: ctc,
            vtv: vtv,
            vtc: vtc
        },
        success: function(data) {


          $('#pvalue').text('P Value: ' + data.p);
          $('#significance').text('Significance: ' + data.significance)
          $('#result').show()
        },
        error: function(data) {
          alert(data);
        }
  });
  }
</script>
  </head>

  <body id="page-top">
{% csrf_token %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">A/B Test Significance Calculator</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
       
      </div>
    </nav>

    <header class="masthead" >
      <div class="container h-100" align="center">
        <div class="row h-100">
          <div class="col-lg-12 my-auto" align="center">
            <div class="header-content mx-auto" style="text-align: center !important;">
              <h1 class="mb-5">A/B Split Test Significance Calculator</h1>
          
<div class="row" style="">
 <div class="col-md-6">
  <h2>Control</h2>
  
    <label>Total Visitors</label>
    <input  type="number" value="15" min="15"  id="ctv" />

    <br>

    <label>Total Conversions</label>
    <input type="number" value="15" min="15" id="ctc" />
  </div>
<div class="col-md-6">
  <h2>Variation</h2>
  <label>Total Visitors</label>
  <input type="number" id="vtv" value="15" min="15" />
<br>
  <label>Total Conversions</label>
  <input type="number" id="vtc" value="15" min="15" />
</div>
</div>

              
              
<br>
              <a onclick="calculate()" class="btn btn-outline btn-xl js-scroll-trigger">CALCULATE</a>
              <br><br>
              <div id='result' class="col-md-12" style="background-color: #b50a2a; border-radius: 25px; height: 120px; padding-top: 20px">

                
  <h3 id="pvalue">P Value: 0</h3>
  <h3 id="significance">Significance: Yes</h3>
  

</div>

            </div>
          </div>
          <!-- <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </header>


    <footer>
      <div class="container">
        <p>&copy; A/B Split Test Significance Calculator 2018. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/new-age.min.js"></script>

  </body>

</html>
